<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="scrollToBottom()" expand="full" fill="solid" *ngIf="isOverflown">
    More Content At Bottom
  </ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToBottom()" *ngIf="!isAtBottom">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="scrollToTop()" *ngIf="isAtBottom">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="ion-padding">
    <h1>What is Ionic Framework?</h1>
    <p>
      Ionic Framework is an open source UI toolkit for building performant, high-quality mobile and
      desktop apps using web technologies (HTML, CSS, and JavaScript).
    </p>
    <p>
      Ionic Framework is focused on the frontend user experience, or UI interaction of an app
      (controls, interactions, gestures, animations). It’s easy to learn, and integrates nicely with
      other libraries or frameworks, such as Angular, or can be used standalone without a frontend
      framework using a simple script include.
    </p>
    <p>
      Currently, Ionic Framework has official integration with Angular, but support for Vue and
      React are in development. If you’d like to learn more about Ionic Framework before diving in,
      we created a video to walk you through the basics.
    </p>
    <h2>Goals</h2>
    <h5>Cross-platform</h5>
    <p>
      Build and deploy apps that work across multiple platforms, such as native iOS, Android,
      desktop, and the web as a Progressive Web App - all with one code base. Write once, run
      anywhere.
    </p>
    <h5>Web Standards-based</h5>
    <p>
      Ionic Framework is built on top of reliable, standardized web technologies: HTML, CSS, and
      JavaScript, using modern Web APIs such as Custom Elements and Shadow DOM. Because of this,
      Ionic components have a stable API, and aren't at the whim of a single platform vendor.
    </p>
    <h5>Beautiful Design</h5>
    <p>
      Clean, simple, and functional. Ionic Framework is designed to work and display beautifully
      out-of-the-box across all platforms. Start with pre-designed components, typography,
      interactive paradigms, and a gorgeous (yet extensible) base theme.
    </p>
    <h5>Simplicity</h5>
    <p>
      Ionic Framework is built with simplicity in mind, so that creating Ionic apps is enjoyable,
      easy to learn, and accessible to just about anyone with web development skills.
    </p>
    <h2>License</h2>
    <p>
      Ionic Framework is a free and open source project, released under the permissable MIT license.
      This means it can be used in personal or commercial projects for free. MIT is the same license
      used by such popular projects as jQuery and Ruby on Rails.
    </p>
    <p>
      This documentation content (found in the ionic-docs repo) is licensed under the Apache 2
      license.
    </p>
    <h2>Ionic CLI</h2>
    <p>
      The official Ionic CLI, or Command Line Interface, is a tool that quickly scaffolds Ionic apps
      and provides a number of helpful commands to Ionic developers. In addition to installing and
      updating Ionic, the CLI comes with a built-in development server, build and debugging tools,
      and much more. If you are an Ionic Appflow member, the CLI can be used to perform cloud builds
      and deployments, and administer your account.
    </p>
    <h2>Framework Compatibility</h2>
    <p>
      While past releases of Ionic were tightly coupled to Angular, V4 of the framework was
      re-engineered to work as a standalone Web Component library, with integrations for the latest
      JavaScript frameworks, like Angular. Ionic can be used in most frontend frameworks with
      success, including React and Vue, though some frameworks need a shim for full Web Component
      support.
    </p>
    <h5>JavaScript</h5>
    <p>
      One of the main goals with Ionic 4 was to remove any hard requirement on a single framework to
      host the components. This means the core components can work standalone with just a script tag
      in a web page. While working with frameworks can be great for larger teams and larger apps, it
      is now possible to use Ionic as a standalone library in a single page even in a context like
      WordPress.
    </p>
    <h5>Angular</h5>
    <p>
      Angular has always been at the center of what makes Ionic great. While the core components
      have been written to work as a standalone Web Component library, the @ionic/angular package
      makes integration with the Angular ecosystem a breeze. @ionic/angular includes all the
      functionality that Angular developers would expect coming from Ionic 2/3, and integrates with
      core Angular libraries, like the Angular router.
    </p>
    <h5>Future Support</h5>
    <p>
      Support for other frameworks are expected in future release. Currently official bindings for
      Vue and React are being developed, though some components Just Work out of the box in those
      frameworks.
    </p>
  </div>
</ion-content>
